<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Oscar Martínez | Ingeniería de Negocios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.jpg" alt="Oscar" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpeg" alt="OSCARIN RIN RIN!" class="Profile nav-link" />
              <span class="caption nav-link">OSCAR MARTÍNEZ</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">¿Quién soy?</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Servicios</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Proyectos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contactame</a>
          </li>
          </a>
          <a href="https://github.com/Oscarmartinezs" target="_blank" class="nav-link">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/home?lang=es" target="_blank" class="nav-link">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
          <div class="cta">
            <a href="https://www.esen.edu.sv/" target="_blank" class="btn nav-link">¿Dónde estudio?</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Oscar Martínez</h2>
          <h3>Ingeniería de Negocios</h3>
          <p>Html . CSS . Logística . Python . Excel VBA . SQL</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contactarme</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Mis proyectos</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpeg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>¿Quién soy?</h2>
          <p>
            Mi nombre es Oscar Martínez, estudiante de la carrera Ingeniería de Negocios en la ESEN. Actualmente estoy
            cursando
            mi tercer año de estudio y me siento caracterizado por ser una persona que le gusta asumir retos. Tengo un
            gran amor
            con el planeamiento y ejecución de los proyectos empresariales. Me gusta mucho tener buenas relaciones
            personales que
            se caractericen por ser de tipo ganar-ganar.
          </p>
          <p>
            Cuento con herramientas de programación para admnistración de bases de datos, diseños de páginas web, entre
            otros tipos de proyectos,
            todo esto con el fin de optimizar cualquier tipo de proceso que conlleve mucho trabajo obsoleto, así mismo
            poder tener un mejor control
            de trabajo.
          </p>
          <p>
            Ser una persona con un alto nivel de valores es algo fundamental para tener un mejor desempeño laboral. Un
            buen profesional no es aquel
            que sea altamente calificado a rasgos de intelectualidad, sino aquel que también porta sus principios y los
            pone en práctica.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>ES MOMENTO DE DIGITALIZARSE</h2>
          <p>
            Permiteme poder ayudarte a dar el paso que tu proyecto necesita.

          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <h2>Desarrollo</h2>
            <p>
              Como es evidente, el mundo de la interconectividad se está
              exparsiendo por cada rincón del planeta. Mi propósito es ayudarte
              a optimizar procesos largos y tediosos donde generalmente se pierde
              mucho tiempo, el cual se puede invertir en actividades mucho más provechosas.

            </p>
          </div>
          <div class="tier-item">
            <h2>Control y Eficiencia</h2>
            <p>
              Poder generar un plan de procedimientos dentro de una entidad
              es sumamente importante, debido a que ese será el cerebro el cual
              será el encargador de designar responsabilidades a cada persona. En pocas palabras
              eso es lo que significa tener un plan logístico con su respectivo control de calidad.
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>EXPERIENCIA</h2>
        <p></p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Aprendizajes</h2>
          <p>
            En primer lugar, cabe mencionar que la teoría no lo es todo.
            He estado ligado a tres empresas durante tres años las cuales
            cada una de ellas me han dejado un mar de enseñanzas que contribuyen
            a mi crecimiento personal. He estado muy cerca del mercado de la
            construcción el cual es un rubro altamente interesante por su variabilidad.
            Aún no cuento con un trabajo formal, debido a que sigo estudiando pero no me
            gusta dejar de lado mi crecimiento práctico.
          </p>
          <P>
            Una persona muy sabia me dijo una vez "A veces en los negocios uno más uno no es dos "
          </P>
          <a href="https://github.com/Oscarmartinezs" class="project-link" target="_blank"><i class="fa fa-github"
              aria-hidden="true"> Visitar Github</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Conectividad</h2>
          <p>
            En los tres años que he estado de cerca en el mundo laboral, se me brindó la oportunidad de hacer viajes
            de negocios en los cuales
            he conocido personas de diferentes culturas, lo cual me ayudó a conocer un poco más allá del mercado
            salvadoreño y de como funciona actualmente la red comercial a traves del mundo.
          </p>
          <a href="https://github.com/Oscarmartinezs" class="project-link" target="_blank"><i class="fa fa-github"
              aria-hidden="true"> Visitar Github</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

    </section>


    <section id="contact" class="contact">
      <h2>Contactame</h2>
      <p>
        A continuación dejaré los medios por los cuales se me puede contactar.
      </p>
      <p>
        <i>Estoy listo para construir el futuro juntos</i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:oscar.martinez102000@gmail.com"><i class="fas fa-envelope-open"></i>
            oscar.martinez102000@gmail.com</a>
        </p>
        <p>
          <a href="https://github.com/Oscarmartinezs" target="_blank"><i class="fab fa-github"> Github</i></a>
        </p>
        <p>
          <a href="https://twitter.com/home?lang=es" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Servicios</a>
        <a href="projects" class="footer-nav-link">Proyectos</a>
        <a href="#contact" class="footer-nav-link">Contactame</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> created by Oscar Martínez &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://github.com/Oscarmartinezs" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/home?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>